<html ng-app="lyricalApp">
<head>
  <title>Lyrical App</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="javascripts/materialize.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="/javascripts/ngStorage.min.js"></script>
</head>


<div ng-view>


</div>


 <script src="/javascripts/app.js"></script>
 <script src="/javascripts/app.LoginCtrl.js"></script>
  <script src="/javascripts/app.AccountCreateCtrl.js"></script>
  <script src="/javascripts/app.DashboardCtrl.js"></script>
  <script src="/javascripts/app.LyricsDetailCtrl.js"></script>
  <script src="/javascripts/app.LyricsCreateCtrl.js"></script>
  <script src="/javascripts/app.UserLyricsCtrl.js"></script>



</html>