<body id="centerlogin">

    <div class="fade-in two" id="loginform2">
      <form id="form1" action="" autocomplete="on"> 
          <p> 
            <input ng-model="query" id="words" class="main-search" id="email" name="email" required="required" type="text" placeholder=""/>
          </p>      

      </form>

    </div>
      <ul id="slide-out" class="side-nav">
      <li><div class="userView"></div></li>
      <li><a class="waves-effect" href="" ng-click="goToLogout()">Log Out</a></li><br><br><br>
      <li><a class="waves-effect" href="" ng-click="goToDashboard()">Search</a></li>
      <li><a class="waves-effect" href="" ng-click="goToSavedLyrics()">Saved Lyrics</a></li>
      <li><a class="waves-effect" href="" ng-click="addLyrics()">Add Lyrics</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i id="menubutton" class="material-icons">menu</i></a>
    <br>

   <div class="fade-in two" id="p-testcenter">

    <table>
        <tr class="p-test">
          <th><a href="" ng-click="sortField = 'artist'; reverse = !reverse">Artist</a></th>
          <th><a href="" ng-click="sortField = 'song'; reverse = !reverse">Song</a></th>
        </tr>

        <tr ng-repeat="lyric in lyrics | filter:query | orderBy:sortField:reverse" class="p-test">
          <td><a class="a-colored" href="" ng-click="goToLyric(lyric.id)">{{lyric.artist}}</td>
          <td><a class="a-colored" href="" ng-click="goToLyric(lyric.id)">{{lyric.song}}</td>
        </tr>
    </table>
 
   </div>

  <div class="fade-in two">    
    <div class="carousel">
        <nav id="navbar">Featured Lyrics</nav>
        <div id="centerthisdiv">

            <a class="carousel-item" href="#one!"><div class="card1 blue darken-1">
                    <div id="cardcenter" class="card-content white-text">
                        <span class="card-title">One Love</span>
                        <p>Bob Marley</p>
                        <p class="small-paragraph" ng-click="goToLyric(1)">View Lyrics &#10095;</p>
                    </div>
                    <div class="card-action">
                    </div>
                    </div>
                    </a>
          <a class="carousel-item" href="#one!"><div class="card1 blue darken-1">
            <div id="cardcenter" class="card-content white-text">
            <span class="card-title">Never Never</span>
              <p>SBTRKT</p>
            <p class="small-paragraph" ng-click="goToLyric(2)">View Lyrics &#10095;</p>
        </div>
        <div class="card-action">
        </div>
        </div></a>  <a class="carousel-item" href="#one!"><div class="card1 blue darken-1">
        <div id="cardcenter" class="card-content white-text">
            <span class="card-title">Walk in the Park</span>
              <p>Beach House</p>
            <p class="small-paragraph" ng-click="goToLyric(3)">View Lyrics &#10095;</p>

        </div>
        <div class="card-action">
        </div>
        </div></a>  <a class="carousel-item" href="#one!"><div class="card1 blue darken-1">
        <div id="cardcenter" class="card-content white-text">
            <span class="card-title">Milan</span>
              <p>High Highs</p>
            <p class="small-paragraph" ng-click="goToLyric(4)">View Lyrics &#10095;</p>
        </div>
        <div class="card-action">
        </div>
        </div></a>
          <a class="carousel-item" href="#one!"><div class="card1 blue darken-1">
        <div id="cardcenter" class="card-content white-text">
            <span class="card-title">Jaded</span>
              <p>Disclosure</p>
            <p class="small-paragraph" ng-click="goToLyric(5)">View Lyrics &#10095;</p>
        </div>
        <div class="card-action">
        </div>
      </div></a>
      </div>
  </div>



      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script type="text/javascript" src="javascripts/materialize.js"></script>
</body>
































