<body id="centerlogin">

<ul id="slide-out" class="side-nav">
    <li><div class="userView">
    </div></li>
    <li><a class="waves-effect" href="" ng-click="goToLogout()">Log Out</a></li><br><br><br>

    <li><a class="waves-effect" href="" ng-click="goToDashboard()">Search</a></li>
    <li><a class="waves-effect" href="" ng-click="goToSavedLyrics()">Saved Lyrics</a></li>
    <li><a class="waves-effect" href="" ng-click="addLyrics()">Add Lyrics</a></li>
</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i id="menubutton" class="material-icons">menu</i></a>
<button ng-click="saveToLyricsDatabase()" class="waves-effect waves-light btn" id="button2">Save Lyric</button>


      <div id="insertlyrics">
          <h2 id="songtitle">{{lyrics.song}}</h1>
          <h1 id="artistname">{{lyrics.artist}}</h1>
          <p class="p-scroll">{{lyrics.lyrics}}</p>

      </div>




<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.js"></script>
    
</body>













