<body id="centerlogin">



<ul id="slide-out" class="side-nav">
  <li><div class="userView">
  </div></li>
  <li><a class="waves-effect" href="" ng-click="goToLogout()">Log Out</a></li><br><br><br>

  <li><a class="waves-effect" href="" ng-click="goToDashboard()">Search</a></li>
  <li><a class="waves-effect" href="" ng-click="goToSavedLyrics()">Saved Lyrics</a></li>
  <li><a class="waves-effect" href="" ng-click="addLyrics()">Add Lyrics</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i id="menubutton" class="material-icons">menu</i></a>




<h2 id="songtitle">My Saved Lyrics</h1>




  <div class="fade-in two" id="p-testcenter">
  <table>
  <tr class="p-test">
    <th><a href="">Artist</a></th>
    <th><a href="">Song</a></th>
    <th></th>

  </tr>

  <tr ng-repeat="lyric in newuserlyrics track by $index" class="p-test">
    <td ng-click="goToLyric(lyric.song_id)">{{lyric.artist}}</td>
  <td ng-click="goToLyric(lyric.song_id)">{{lyric.song}}</td>
    <td><button ng-click="deleteFromUserLyricsDatabase(lyric.id)" class="waves-effect waves-light btn" id="button2">Delete</button></td>

  </tr>

  </table>

  </div>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.js"></script>

</body>













    