<body id="centerlogin">



<ul id="slide-out" class="side-nav">
  <li><div class="userView">
  </div></li>
  <li><a class="waves-effect" href="" ng-click="goToLogout()">Log Out</a></li><br><br><br>

  <li><a class="waves-effect" href="" ng-click="goToDashboard()">Search</a></li>
  <li><a class="waves-effect" href="" ng-click="goToSavedLyrics()">Saved Lyrics</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

<div id="centerlyrics">
<div id="centered">
<div class="row">
<div class="col s12 m6">
<div class="card blue darken-1">
<div class="card-content white-text">
<span class="card-title" id="songname">{{userlyrics[0].song}}</span><br>
<span class="card-title" id="songname">{{userlyrics[0].artist}}</span>
</div>
<div class="card-action">
<a ng-click="goToLyric(userlyrics[0].song_id)" id="yellowlyric">View Lyrics</a>
</div>
</div>
</div>
</div>
</div>

  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[1].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[1].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[1].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[3].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[3].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[3].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[4].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[4].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[4].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
    </div>
    <div id="centered">
    <div class="row">
    <div class="col s12 m6">
    <div class="card blue darken-1">
    <div class="card-content white-text">
    <span class="card-title" id="songname">{{userlyrics[5].song}}</span><br>
    <span class="card-title" id="songname">{{userlyrics[5].artist}}</span>
    </div>
    <div class="card-action">
  <a ng-click="goToLyric(userlyrics[5].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[6].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[6].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[6].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[7].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[7].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[7].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[8].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[8].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[8].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[9].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[9].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[9].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[10].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[10].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[10].song_id)" id="yellowlyric">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[11].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[11].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[11].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[12].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[12].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[12].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[13].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[13].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[13].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[14].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[14].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[14].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[15].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[15].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[15].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[16].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[16].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[16].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[17].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[17].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[17].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[18].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[18].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[18].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="centered">
  <div class="row">
  <div class="col s12 m6">
  <div class="card blue darken-1">
  <div class="card-content white-text">
  <span class="card-title" id="songname">{{userlyrics[19].song}}</span><br>
  <span class="card-title" id="songname">{{userlyrics[19].artist}}</span>
  </div>
  <div class="card-action">
  <a ng-click="goToLyric(userlyrics[19].song_id)" id="yellowlyric" href="#">View Lyrics</a>
  </div>
  </div>
  </div>
  </div>
  </div>


  <div id="p-testcenter">
  <table>
  <tr class="p-test">
  <th><a href="">Song</a></th>
  <th><a href="">Artist</a></th>ß
  </tr>

  <tr ng-repeat="userlyrics in userlyrics" class="p-test">
  <td ng-click="goToLyric(userlyrics.song_id)">{{userlyrics.song}}</td>
  <td ng-click="goToLyric(userlyrics.song_id)">{{userlyrics.artist}}</td>
  </tr>

  </table>

  </div>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="javascripts/materialize.js"></script>

</body>













    